<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Accounts</title>
    <style>
        /* ----------- Global Styles ----------- */
        body {
            font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            background: linear-gradient(135deg, #e3f2fd, #f8f9fa);
            color: #2c3e50;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100vh;
        }


    </style>
</head>
<body>
    <h1>All Accounts</h1>
        <tr>
            <th>Acc No</th>
            <th>Name</th>
            <th>Account Type</th>
            <th>Balance</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
