<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Products | ShopNow</title>


</head>

<body>

<!-- ================= NAVBAR ================= -->
<nav class="navbar">
    <a href="/">ShopNow</a>
    <a href="/cart/">Cart</a>
</nav>

<!-- ================= PAGE TITLE ================= -->
<h1 class="page-title">Our Products</h1>

    <!-- ================= PRODUCTS ================= -->
<div class="products">
{% for product in products %}
    <div class="product">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <h2>{{ product.name }}</h2>
        <p>₹ {{ product.price }}</p>

        </div>
    </div>
{% endfor %}
</div>



</body>
</html>


