<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Products | ShopNow</title>

<style>
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins','Segoe UI',sans-serif;
}

/* ================= BODY ================= */
body{
    background:#eef1f6;
}

/* ================= NAVBAR ================= */
.navbar{
    height:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 50px;
    background:linear-gradient(90deg,#0f4c81,#1e88e5);
    color:white;
}

</style>
    
</head>

<body>

<!-- ================= NAVBAR ================= -->
<nav class="navbar">
    <a href="/">ShopNow</a>
    <a href="/cart/">Cart</a>
</nav>

<!-- ================= PAGE TITLE ================= -->
<h1 class="page-title">Our Products</h1>

    <!-- ================= PRODUCTS ================= -->
<div class="products">
{% for product in products %}
    <div class="product">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <h2>{{ product.name }}</h2>
        <p>₹ {{ product.price }}</p>

        <div class="product-actions">
            <button class="cart-btn">Add to Cart</button>
            <button class="buy-btn">Buy Now</button>
        </div>
    </div>
{% endfor %}
</div>



</body>
</html>








